.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xsm);
  height: var(--space-l);
  padding: 0 calc(var(--space-m) * 1.2);
  border-radius: calc(var(--space-m) * 1.2);
  font-size: var(--space-sm);
  border: none;
  outline: none;

  &.error {
    background: var(--main-bg);
    border: 1px solid var(--main-error);
    color: var(--main-error);
  }
}
