.nav {
  display: flex;
  height: 100%;
  padding: 0 var(--space-l);
  box-sizing: border-box;
  transition: background 300ms;

  &.bg {
    background: var(--main-bg);
    border-bottom: var(--main-border);
  }

  &__search-avatar {
    display: flex;
    width: clamp(35rem, 100%, 1400px);
    align-items: center;
    margin: 0 var(--space-l);
    gap: var(--space-l);

    .connect {
      margin-left: auto;
    }

    .avatar {
      width: var(--space-l);
      height: var(--space-l);
      background-color: #c0360b;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}
