<section class="story">
  <h1>Drake</h1>
  <p>
    Aubrey Drake Graham is a Canadian rapper and singer. An influential figure
    in contemporary popular music, he has been credited with popularizing R&B
    sensibilities in modern hip hop. Gaining recognition by starring as Jimmy
    Brooks in the CTV teen drama series Degrassi: The Next Generation, Drake
    pursued a recording career in 2006, releasing his debut mixtape Room for
    Improvement. He followed up with the mixtapes Comeback Season and So Far
    Gone before signing with Young Money Entertainment. His first three albums
  </p>
  <section class="story__btn">
    <app-button> <app-shuffle />Shuffle</app-button>
    <app-button> <radio-icon />Radio</app-button>
    <app-button [variant]="'error'"> Subscribe 29.9M</app-button>
  </section>
</section>
