@import "../../../../styles/media";

.songs {
  margin: var(--space-xsm) var(--space-xl);

  animation-name: story;
  animation-duration: 2s;
  h3 {
    font-size: var(--space-l);
  }

  @include md() {
    margin-left: max(10vw, 0.5rem);
    margin-right: max(10vw, 0.5rem);
  }
}

@keyframes story {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
